.valid-error{
    color:red;
}

.center_cell {    
    text-align:center; 
    vertical-align:middle;
}

.price_detail{
    font-style: italic;
    font-size: 12px;
    color:grey;
}

/* Ruban en haut de chaque page contenant le logo et le titre de la page */
.page-title{
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Mots utilisé dans "Nos valeurs" */
.hammer-word{
    font-weight: bold;
    color:#B2C835;
    font-size: 120%;
}

.green-bullet{
    list-style-type: square;
    /* list-style-image: url('sqpurple.gif');*/
}

.green-bullet li {
    margin-bottom: 15px;
}

.marge{
    padding:6px 30px 30px 30px;
}

.text-90{
    font-size: 90%;
}
.text-80{
    font-size: 80%;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}